# Question1

In [9]:
n=input('enter the name is ')
r=input('enter the roll number ')
m=input('enter the mark ')
print('name:',n)
print('roll no:',r)
print('mark:',m)

enter the name is ANISHA
enter the roll number 21
enter the mark 78
name: ANISHA
roll no: 21
mark: 78

# Question2

In [5]:
f=int(input('enter the temperature in fahrenheit '))
celcius=(f-32)*5/9
print('Temperature in celcius=',celcius)

enter the temperature in fahrenheit 41
Temperature in celcius= 5.0

# Question3

In [6]:
num1=int(input('enter the first number '))
num2=int(input('enter the second number '))
product=num1*num2
print('The product is',product)

enter the first number 5
enter the second number 4
The product is 20

# Question4

In [4]:
string=input('Enter the string ')
print(string)

Enter the string Learn**python**by developing a**website**
Learn**python**by developing a**website**

# Question5

In [8]:
r=int(input('Enter the radius of a circle '))
area=3.14*r*r
print('The area of circle =',area)

Enter the radius of a circle 7
The area of circle = 153.86

# Question6

In [1]:
list=[1,2,3,4,5,6,7]
list.insert(4,9)
print(list)

[1, 2, 3, 4, 9, 5, 6, 7]

# Question7

In [2]:
dict={'name':'John','age':5,'salary':8000,'city':'New York'}
del dict['city']
dict['location']="New York"
print(dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

# Question8

In [1]:
emp1={'name':'John','salary':7500}
emp2={'name':'Emma','salary':8000}
emp3={'name':'Brad','salary':500}
emp3['salary']=8500
print(emp1,emp2,emp3)

{'name': 'John', 'salary': 7500} {'name': 'Emma', 'salary': 8000} {'name': 'Brad', 'salary': 8500}

# Question9

In [3]:
tuple1=(10,20,(43,54),56,68)
tuple1[2]

(43, 54)

# Question10

In [4]:
tuple1=(50,10,60,70,50,83,567,50,81)
tuple1.count(50)

3